node_modules/
test/unit/coverage
.DS_Store

#Gradle
.gradle

#Publish
.ghPages/
.publish/

#NPM
npm-debug.log
yarn-error.log

#Selenium
selenium-debug.log

#Distribution
devDist/
ghPages/

# Idea files
.idea
*.iml
*.ipr
*.iws

