.ts-table {
    display: flex;
    flex-basis: auto;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 12px;
    max-height: 100%;
    min-height: 0;
    overflow: auto;
    width: auto;
}

.ts-table-content {
    border-spacing: 0 5px;
    display: table;
    margin: 0 auto;
    width: 95%;
}

.ts-table-key {
    display: table-cell;
    padding: 3px;
    width: 200px;
    background-color: white;
    border: solid 1px darkgreen;
    border-right: none;
    color: darkgreen;
    font-weight: bold;
    min-width: 150px;
    vertical-align: top;
}

.ts-table-value {
    display: table-cell;
    padding: 3px;
    width: auto;
    border: solid 1px darkgreen;
    border-left: none;
    font-weight: bold;
    word-break: break-all;
}